/** Testing **/
/** Reset **/
/* line 7, scss/index.scss */
:root {
  box-sizing: border-box;
}

/** Theme **/
/* line 12, scss/index.scss */
:root {
  --header: #343A40;
  --cta: #027BFF;
  --cta-hover: #0062cc;
  --cta-hover-border: rgba(0, 98, 204, 0.5);
  --red: #DC3545;
  --left-panel: rgba(233, 236, 239, 0.2);
}

/** General Layout **/
/* line 22, scss/index.scss */
.container-fluid {
  padding: 0;
}

/* line 25, scss/index.scss */
.display-5 {
  font-size: 1.5rem;
}

/* line 28, scss/index.scss */
.btn-primary {
  background-color: var(--cta);
  color: white;
}
/* line 31, scss/index.scss */
.btn-primary:hover {
  border: 1px solid var(--cta-hover-border);
}

/* line 35, scss/index.scss */
h3 {
  font-size: 1.25rem;
}

/* line 38, scss/index.scss */
.img-icon {
  width: 30px;
  height: 30px;
  border: 0;
}

/** Components **/
/* line 45, scss/index.scss */
header {
  width: 100%;
  color: white;
  background-color: var(--header);
}

/* line 50, scss/index.scss */
.left-panel-bgc {
  background-color: var(--left-panel);
}

/* line 53, scss/index.scss */
.search-history {
  margin-top: 15px;
}
/* line 55, scss/index.scss */
.search-history .list-group-item:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: 200;
}

/* line 61, scss/index.scss */
.current-temp {
  cursor: default;
}
/* line 64, scss/index.scss */
.current-temp .stats p {
  font-weight: 200;
  line-height: 1.5rem;
}
/* line 68, scss/index.scss */
.current-temp .stats .uv-index {
  font-weight: 300 !important;
}

/* line 73, scss/index.scss */
.current-temp:empty {
  border: 0;
  color: gray;
  font-size: 1.5rem;
  font-weight: 300;
}
/* line 78, scss/index.scss */
.current-temp:empty::before {
  content: "No weather information searched yet.";
  height: 30px;
  width: 100%;
}

/* line 85, scss/index.scss */
.future-temp {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
/* line 90, scss/index.scss */
.future-temp .card {
  width: 200px;
  color: white;
  background-color: var(--cta);
  flex-wrap: wrap;
  cursor: default;
}
/* line 97, scss/index.scss */
.future-temp .card:hover {
  background-color: var(--cta-hover);
}
/* line 104, scss/index.scss */
.future-temp .card .stats p {
  font-weight: 200;
}
