/** Testing **/
body::before {
    // content: "CSS Connected";
}

/** Reset **/
:root {
    box-sizing: border-box;
}

/** Theme **/
:root {
    --header: #343A40;
    --cta: #027BFF;
    --cta-hover: rgba(0, 98, 204, 1);
    --cta-hover-border: rgba(0, 98, 204, .5);
    --red: #DC3545;
    --left-panel: rgba(233, 236, 239, .2);
}

/** General Layout **/
.container-fluid {
    padding: 0;
}
.display-5 {
    font-size: 1.5rem;
}
.btn-primary {
    background-color: var(--cta);
    color: white;
    &:hover {
        border: 1px solid var(--cta-hover-border);
    }
}
h3 {
    font-size: 1.25rem;
}

/** Components **/
header {
    width: 100%;
    color: white;
    background-color: var(--header);
}
.left-panel-bgc {
    background-color: var(--left-panel);
}
.search-history {
    margin-top: 15px;
    .list-group-item:hover {
        cursor: pointer;
        background-color: lightgray;
        font-weight: 200;
    }
}
.current-temp {
    cursor: default;
    .stats {
        p {
            font-weight: 200;
            line-height: 1.5rem;
        }
        .uv-index {
            font-weight: 300 !important;
        }
    }
}

.future-temp {
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;

    .card {
        width: 200px;
        color: white;
        background-color: var(--cta);
        flex-wrap: wrap;
        cursor: default;

        &:hover {
            background-color: var(--cta-hover);
        }
        .stats {
            .weather-icon {

            }
            p {
                font-weight: 200;
            }
        }
    }
}