/** Testing **/
body::before {
    // content: "CSS Connected";
}

/** Reset **/
:root {
    box-sizing: border-box;
}

/** Icons **/
.icon {
    font-family: 'weathericons';
    src: url('../../font/weathericons-regular-webfont.eot');
    src: url('../../font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/weathericons-regular-webfont.woff') format('woff'), url('../../font/weathericons-regular-webfont.ttf') format('truetype'), url('../../font/weathericons-regular-webfont.svg#weathericons-regular-webfontRg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

/** Theme **/
:root {
    --header: #343A40;
    --cta: #027BFF;
    --cta-hover: rgba(0, 98, 204, 1);
    --cta-hover-border: rgba(0, 98, 204, .5);
    --red: #DC3545;
}

/** General Layout **/
.container-fluid {
    padding: 0;
}
.display-5 {
    font-size: 1.5rem;
}
.btn-primary {
    background-color: var(--cta);
    color: white;
    &:hover {
        border: 1px solid var(--cta-hover-border);
    }
}
h3 {
    font-size: 1.25rem;
}

/** Components **/
header {
    width: 100%;
    color: white;
    background-color: var(--header);
}
.search-history {
    margin-top: 15px;
    .list-group-item:hover {
        cursor: pointer;
        background-color: lightgray;
        font-weight: 200;
    }
}
.current-temp {
    .stats {
        p {
            font-weight: 200;
            line-height: 1.5rem;
        }
        .uv-index {
            font-weight: 300 !important;
        }
    }
}
.future-temp {
    .card {
        width: 175px;
        color: white;
        background-color: var(--cta);

        &:hover {
            background-color: var(--cta-hover);
        }
        .stats {
            .weather-icon {

            }
            p {
                font-weight: 200;
            }
        }
    }
}