/** Testing **/
body::before {
    // content: "CSS Connected";
}

/** Reset **/
:root {
    box-sizing: border-box;
}

/** Theme **/
:root {
    --header: #343A40;
    --cta: #027BFF;
    --cta-hover: rgba(0, 98, 204, 1);
    --cta-hover-border: rgba(0, 98, 204, .5);
    --red: #DC3545;
    --left-panel: rgba(233, 236, 239, .2);
}

/** UV Index colors */
.badge-lt2 { background-color: #83c88b }
.badge-btw2-5 { background-color: #ffdc01 }
.badge-btw5-7 { background-color: #f89c1c }
.badge-btw7-10 { background-color: #ee1d23 }
.badge-gt10 { background-color: #d83484 }

/** General Layout **/
.container-fluid {
    padding: 0;
}
.display-5 {
    font-size: 1.5rem;
}
.btn-primary {
    background-color: var(--cta);
    color: white;
    &:hover {
        border: 1px solid var(--cta-hover-border);
    }
}
h3 {
    font-size: 1.25rem;
}
.img-icon {
    width: 30px;
    height: 30px;
    border: 0;
}

/** Components **/
header {
    width: 100%;
    color: white;
    background-color: var(--header);
}
.left-panel-bgc {
    background-color: var(--left-panel);
}
.search-history {
    margin-top: 15px;
    .list-group-item:hover {
        cursor: pointer;
        background-color: lightgray;
        font-weight: 200;
    }
}
.current-temp {
    cursor: default;
    .stats {
        p {
            font-weight: 200;
            line-height: 1.5rem;
        }
        .uv-index {
            font-weight: 300 !important;
        }
    }
}
.current-temp:empty {
    border: 0;
    color: gray;
    font-size: 1.5rem;
    font-weight: 300;
    &::before {
        content: "Search for your city on the left.";
        height: 30px;
        width:100%;
    }
}
@media screen AND (max-width:768px) {
.current-temp:empty {
    &::before {
        content: "Search for your city at the top.";
    }
}
}

.future-temp {
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
    list-style: none;

    .card {
        width: 200px;
        color: white;
        background-color: var(--cta);
        flex-wrap: wrap;
        cursor: default;

        &:hover {
            background-color: var(--cta-hover);
        }
        .stats {
            p {
                font-weight: 200;
            }
        }
    }
}